*{
   margin: 0;
   padding: 0;
}

body{
   background-color:#7FB3F0; 
   color:#FFFFFF;
   font-size: 25px;
   font-weight: 800;

}

.principal{
   background-color:#7FB3F0;
   background-repeat: no-repeat;
   background-size: contain;
}

.container{
   height: 100vh;
   display: grid;
   grid-template-columns: 50% 50%;
}

.container_botao{
   background-color: #167BF7;
   color: white;
   border-radius: 5px;
   padding: 20px;
   display: block;
   text-decoration: none;
}

.botao_secundario{
   background-color: transparent;
   border: 2px solid #167BF7;
   color: white;
   text-decoration: none;
}

.container_aviso{
font-weight: 100 ;
font-size: 10px ;
}

.container_imagem{
   margin:1em 0 2em 4em;
}

.container_caixa{
   margin:1em 2em;
}

.secundario_imagem{
   width:70%;
}

.secundario{
   align-items: center;
   margin: 0 2em;
}

.descricao_titulo{
   color:#FFFFFF;
   font-size: 55px;
   font-weight: 800;
}


.descricao_texto{
   color:#FFFFFF;
   font-size: 30px;
   font-weight: 800;
}

.container_descricao{
   padding: 3em;
}

.botao_secundorio{
   display: inline block;
   padding: 1em;
   margin-top: 1em;
   background-color: #167BF7;
}